<% @posts.each do |post| %>
  <div id=<%= "post-modal-#{post.id}" %> class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= post.title %></h4>
        </div>
        <div class="modal-body">        
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <% if post.image? %>            
                  <%= image_tag( post.image.url, :class => "full-w" )  %>
                <% end %>
              </div>
              <div class="col-lg-6">
                <p><%= post.body %></p>
              </div>
            </div>
          </div>                    
           <% if @user && @user.admin? %>
            <%= link_to "Edit", edit_post_path(post), class: 'btn btn-success' %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<% end %>